# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
ios/Pods/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
android/.gradle/
android/app/debug
android/app/profile
android/app/release
*.iml

# VS Code
.vscode/

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.moved-aside
DerivedData/

